/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.light-mode {
  background-color: #f5f5f5;
  color: #121212;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.header, .footer {
  width: 100%;
  background-color: #1f1f1f;
  padding: 15px;
  text-align: center;
}

.light-mode .header, .light-mode .footer {
  background-color: #ffffff;
  color: #121212;
}

.toggle-mode {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.light-mode .toggle-mode {
  background-color: #ddd;
  color: black;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  width: 80%;
  margin: 40px 0; /* Aumentei a margem para centralizar melhor */
  align-items: center; /* Centraliza os itens verticalmente */
}

.predefinidas, .url-form, .biblioteca {
  background: #1f1f1f;
  padding: 40px; /* Aumentei o padding para aumentar o tamanho das divs */
  border-radius: 8px;
  text-align: center;
  width: 100%; /* Garante que as divs ocupem toda a largura disponível */
}

.light-mode .predefinidas, .light-mode .url-form, .light-mode .biblioteca {
  background: #ffffff;
}

.url-form input[type="text"], .url-form input[type="number"] {
  width: 90%; /* Reduzi a largura para evitar que o campo saia da div */
  padding: 10px;
  margin: 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto; /* Centraliza os campos de entrada */
}

.url-form input[type="submit"] {
  background-color: #0011ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%; /* Faz o botão ocupar toda a largura */
}

.biblioteca-btn {
  background-color: #003cff;
  color: white;
  padding: 15px 30px; /* Aumentei o padding para tornar o botão maior */
  border: none;
  cursor: pointer;
  width: 100%; /* Faz o botão ocupar toda a largura */
  font-size: 16px; /* Aumentei o tamanho da fonte */
}

.footer {
  margin-top: auto;
  padding: 15px;
  text-align: center;
}